.markdown-body {
  box-sizing:  border-box;
  font-family: "Hiragino Mincho ProN", TakaoExMincho, Meiryo, serif;
  margin:      0 auto;
  max-width:   980px;
  min-width:   200px;
  padding:     45px;
}
